.navbar {
  background: #0485fe !important;
  color: #f2f2f2 !important; }
  .navbar .uk-navbar-toggle {
    color: white !important; }
  .navbar .uk-navbar-nav .logged-user-name {
    color: white !important; }

.page-title {
  border-bottom: 1px solid #ccc;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600; }

.page-title-small {
  border-bottom: 1px solid #ccc;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600; }
